@import "tailwindcss";

@theme inline {
  --color-primary: #3B4CCA;
  --color-primary-dark: #2a38a0;
  --color-teal: #5BEBB5;
  --color-gold: #F5C542;
  --color-pink: #F5A0C0;
  --color-blue-deep: #3535D1;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #171717;
}
